# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version
.eggs
.venv
venv
activate

# Editors
.vscode
.idea

# Logs
*.log
*.out

# clsp_files
*.clsp
*.clsp.hex
*.clsp.hex.bkp
*.clsp.results.txt

# default file
defaults.txt
